<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body style="background-color: bisque;">
    <h1>New Students</h1>
    <p>The new students will appear here:</p>
    <hr>
    <ul>
        <li>We've created student <strong>{{name1}} {{lastname1}}</strong></li>
        <li>We've created student <strong>{{name2}} {{lastname2}}</li>
    </ul>
</body>
</html>